@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defined class styles using apply */

.hireMeBtn {
  @apply px-4 p-1 pb-1 rounded-md text-[#0369A1] text-xl border-2 border-[#0369A1] bg-transparent hover:bg-[#0c4a6e] hover:text-white;
}
.signUpBtn {
  @apply px-4 pb-1 rounded-md font-semibold text-orange-800 text-xl border-2 border-orange-600 bg-transparent hover:bg-orange-600 hover:text-white;
}
.active {
  @apply text-[#0369A1] font-bold;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.spinner {
  animation: spin infinite 1s linear;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
